.blog-card {
  display: grid;
  row-gap: 1rem;

  > img {
    height: 100%;
    object-fit: cover;
    aspect-ratio: 270 / 200;
  }

  > h3 {
    font-size: var(--fs-500);
    line-height: 1.14;
  }

  > p {
    line-height: 1.2;
  }

  > footer {
    display: flex;
    justify-content: flex-start;
    gap: 1.625rem;
    font-size: var(--fs-200);
    color: var(--clr-neutral-400);
  }

  @container (width > 550px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr min-content 1fr;
    gap: 1rem 2.5rem;

    > img {
      aspect-ratio: 240 /200;
      max-height: 30vh;
      width: 100%;
      grid-row: span 3;
    }

    > *:nth-child(2) {
      align-self: end;
    }
  }
}
