.form-control > * + * {
  margin-block-start: var(--form-control-gap, calc(var(--spacer) / 2));

  @media (width > 750px) {
    margin-block-start: var(--form-control-gap, 0);
  }
}

.form-control__input {
  display: block;
  width: 100%;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid var(--clr-neutral-300);
  padding: 0.5rem 0;
  outline: none;
  transition: var(--transition);

  &::placeholder {
    font-size: var(--fs-400);
    font-weight: var(--fw-300);
    line-height: 1.2;
    letter-spacing: -0.02em;
  }

  &:is(:invalid):focus,
  &:focus,
  &:hover {
    border-color: var(--clr-neutral-900);
  }

  &:is(:invalid) {
    border-color: var(--clr-error-400);
  }
}

.form-control__label {
  font-size: var(--fs-200);
  line-height: 1.33;
}
