.primary-header {
  background: no-repeat center / cover
    url(https://images.unsplash.com/photo-1483728642387-6c3bdd6c93e5?q=80&w=2076&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  min-height: 25vh;
  padding: 2.5rem;

  > .primary-header__title {
    grid-column: page;
    grid-row: 1 / -1;
    place-self: center start;
    max-width: 12ch;
  }

  > a {
    grid-row: 1;
    grid-column: page;
    place-self: start;
  }
}

.primary-nav {
  --_nav-gap: calc(var(--spacer) / 2);

  font-family: var(--text-accent);
  font-weight: var(--fw-300);
  color: var(--clr-neutral-100);
  background-color: var(--clr-neutral-900);
  position: fixed;
  bottom: var(--_nav-gap);
  left: var(--_nav-gap);
  right: var(--_nav-gap);

  padding: 0.75rem;
  border-radius: var(--border-radius);
}

.primary-nav__list {
  display: flex;
  justify-content: space-evenly;
  margin: 0;

  .selected {
    font-weight: var(--fw-700);
  }

  a {
    display: block;
    line-height: 1;
  }
}

@media (width > 700px) {
  .primary-header {
    > .primary-nav {
      grid-row: 1;
      grid-column: page;
      place-self: start end;
    }

    min-height: 40vh;
  }

  .primary-nav {
    display: block;
    position: static;
    background-color: ;
    color: var(--clr-neutral-900);
    background-color: transparent;
    padding: 0;
  }

  .primary-nav__list {
    display: flex;
    gap: 2.5rem;

    a {
      font-family: var(--text-accent);
      font-size: var(--fs-300);
      font-weight: var(--fw-300);
      line-height: 1.25;
      text-decoration: none;
      color: var(--clr-neutral-900);
    }

    > li.selected a {
      font-weight: var(--fw-700);
    }
  }
}
