*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p,
body,
picture {
  margin: 0;
}

input,
select,
textarea,
button {
  font: inherit;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  line-height: 1.1;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  border-radius: var(--border-radius);
}

ul,
ol {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
